<%= render template: 'home/index' %>
<br />
<div style="text-align:center"><h1>Resultados da Busca</h1></div>
<section style="text-align:center">
  <% if @order.present? %>
    <div>
      <tr>
        <td><strong>Pedido: </strong><%= @order.code %> - </td>
        <td><strong>Status: </strong><%= I18n.t(@order.status) %></td>
      </tr>
    </div>
  <% else %>
    <div>
      <p>Insira um código válido</p>
    </div>
  <% end %>
</section>
