<h1>Gerenciamento de Transportadoras</h1>

<section>
  <% @companies.each do |c| %>
    <table style="width: 10%">
      <thead>
        <tr>
          <th style="text-align:center">Nome</th>
          <th style="text-align:center">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align:center"><%= c.brand_name %></td>
          <td style="text-align:center"><%= c.state_abbr.upcase %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
  <% if @companies.empty? %>
    <p>não há transportadoras cadastradas</p>
  <% end %>
  <nav>
    <%= link_to 'Nova Transportadora', new_company_path %>
  </nav>
</section>
